{% extends "layout.html" %} {% block css %} {% endblock css %} {% block bodyname
%}
<div class="sub_page">{% endblock bodyname %} {% block bodyname2 %}</div>
{% endblock bodyname2 %} {% block body %}

<!-- contact section -->
<section class="contact_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Get In Touch</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container contact-form">
          <form action="">
            <div class="form-row">
              <div class="col-lg-6">
                <div>
                  <input type="text" placeholder="Your Name" />
                </div>
              </div>
              <div class="col-lg-6">
                <div>
                  <input type="text" placeholder="Phone Number" />
                </div>
              </div>
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="btn_box">
              <button>SEND</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map_container">
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d60323.275771428554!2d72.8737493!3d19.0986722!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c93c12809381%3A0xf00ed18120bd3af4!2sPersistent%20Systems%20Limited!5e0!3m2!1sen!2sin!4v1708816711302!5m2!1sen!2sin"
              width="100%"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->

{% endblock body %}
